.navbar {
  background-image: linear-gradient(to right, #5259ba, #fc883c);
}

.jumbotron {
  padding: 6rem 1rem;
  background-image: url(img/Astronaut\ in\ Between.jpg);
  background-size: cover;
  background-position: center;
  height: 450px;
}

#galeri {
  background-image: linear-gradient(to right, #5259ba, #fc883c);
  height: 700px;
  padding-top: 5px;
}

#thanks {
  margin-top: 25px;
  color: white;
  font-family: sans-serif;
}

.footer {
  background-color: #2c1169;
  height: 90px;
}

section {
  padding-top: 20px;
}
